ACCESS_TOKEN_PRIVATE_KEY=""
AWS_ACCESS_KEY_ID=""
AWS_DEFAULT_REGION=""
AWS_ENDPOINT_URL=""
AWS_S3_BUCKET_NAME=""
AWS_SECRET_ACCESS_KEY=""
CLIENT_DOMAIN=""
CLIENT_URL=""
DATABASE_URL=""
MAIL_FROM=""
MAIL_PROVIDER=""
NODE_ENV=""
REFRESH_TOKEN_PRIVATE_KEY=""
REFRESH_TOKEN_PUBLIC_KEY=""
RESEND_API_KEY="r"
SERVER_PORT=""